<app-header [title]="'Denuncias Anónimas'" [componentName]="'anonima'">
</app-header>
<div class="body">
  <div class="consultas_anonimas">
    <h1>Consulta</h1>
    <div class="info_consultas">

    </div>
  </div>
  <div class="container_content">
    <div class="input-container">
      <input placeholder="Ingresa clave de radicado" class="input-field" type="password">
      <label for="input-field" class="input-label"></label>
      <span class="input-highlight"></span>
    </div>
    <button class="learn-more" routerLink="/">Consultar
    </button>
    <button class="learn-more" (click)="goToCrear()">Crear</button>
    <button class="sabermas">
      saber mas
    </button>
  </div>
</div>