/* Estilos generales */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 180px;
    flex-direction: column;
    gap: 30px;
  }
  
  .relato {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .relato p {
    margin: 15px;
    position: relative;
    left: -105px;
  }
  
  .descripcion {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 90%;
    height: 140px;
    resize: none;
    overflow-y: auto;
    transition: 0.4s;
  }
  
  .multimedia {
    width: 90%;
    background: #e4e4e4;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 100px;

  }

  .multimedia_content{
    background: #ffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-around;
  }
  .multimedia_content p{
    margin-bottom: 0px !important;
    font-size: 12px;
    font-weight: 400;

  }
  
  .multimedia p {
    margin-bottom: 10px;
    text-align: start;
  }
  
  /* Estilos para el ícono */
  .bxs-image-add {
    font-size: 30px;
    cursor: pointer;
    color: #000;
  }
  
  .preview {
    width: 100%;
    margin-top: 20px;
  }
  
  .file-preview {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  img, video {
    width: 80%;   /* Tamaño responsivo */
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para hacer que el diseño sea responsivo */
  @media (max-width: 768px) {
    img, video {
      width: 100%;
      height: auto; /* Para que se ajuste dinámicamente en pantallas pequeñas */
    }
  }
  