.container_home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    background: #00022f;
    width: 100%;
    height: 80px;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -1px 8px 20px 9px #ccc;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 45px;

}

span {
    color: #f3cc3f;
    font-weight: 900;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.imagen_logo {
    max-width: 90%;
    height: auto;
}



.imagen_logo1 {
    position: absolute;
    max-width: 20%;
    margin-top: 45px;
}

.container_content {
    width: 90%;
    height: 380px;
    background: #00022f;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

button {
    background: none;
    border: none;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    width: 90%;

}


.buttonVg {
    background: #f3cc3f;
    color: #00022f;
}

.buttonDo {
    margin-top: 20px;
    background: #fff;
    color: #00022f;
}

.buttonDa {
    border: 2px solid #fff;
    color: #fff;
}

.logaout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
}

a {
    font-family: system-ui;
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: 5px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    /* Aumentar opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modal-content {
    background-color: white;
    padding: 20px;
    height: 100%;
    display: flex;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-image {
    max-width: 100%;
    height: auto;
}



/* From Uiverse.io by Hashir-Ahmed123 */
@keyframes drop {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(80px);
    }

    100% {
        transform: translateY(0px);
    }
}

.lava-lamp {
    position: relative;
    width: 50px;
    height: 100px;
    background: #00022f;
    border-radius: 25px;
    overflow: hidden;
}

.bubble {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: #0241fe;
    border-radius: 50%;
    left: 15px;
    animation: drop 5s ease-in-out infinite;
}

.bubble1 {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: #f2fe02;

    border-radius: 50%;
    left: 1px;
    animation: drop 3s ease-in-out infinite;
}

.bubble2 {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: #fe0202;
    border-radius: 50%;
    left: 30px;
    animation: drop 4s ease-in-out infinite;
}



/* 
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.imagen {
    width: 80px;
    height: 80px;

}

button {
    font-family: "Ubuntu", sans-serif;

}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.buton_1 {
    background: none;
    border: none;
    color: rgb(255, 136, 0);
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;

}

.buton_2 {
    background: rgb(255, 136, 0);
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;

}  */