
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(../../../assets/img/tombos.png) ;
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;  */
    height: auto;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
}

.imagen_logo {
    max-width: 90%;
    z-index: -1;
    position: absolute;
    bottom: 355px;
}



.imagen_logo1 {
    position: absolute;
    max-width: 60%;
    top: 30px;
}

.container_content {
    width: 90%;
    height: 380px;
    background: #1d1c49;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

button {
    background: none;
    border: none;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    width: 90%;

}


.buttonVg {
    background: #f3cc3f;
    color: #00022f;
}

.buttonDo {
    margin-top: 20px;
    background: #fff;
    color: #00022f;
}

.buttonDa {
    border: 2px solid #fff;
    color: #fff;
}

.logaout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
}

a {
    font-family: system-ui;
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: 5px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    /* Aumentar opacidad */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modal-content {
    background-color: white;
    padding: 20px;
    height: 100%;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content img {
    width: 90%;
}

/* Animación para agrandar el texto completo */
@keyframes scaleText {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

/* Pestañeo para la primera "O" */
@keyframes wink {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    /* Comprime la O verticalmente */
}

/* Estilos para el texto */
#ojo-text {
    color: #f3cc3f;
    font-weight: 900;
    font-size: 5rem;
    display: inline-block;
    font-family: 'Chau Philomene One', sans-serif;
    text-shadow:
        -4px -4px 5px #000,
        4px -4px 5px #000,
        -4px 4px 5px #000,
        4px 4px 5px #000;
    /* Añade un borde negro alrededor del texto */
    letter-spacing: 0px;
    /* Añade espacio entre letras */
}


.letra {
    display: inline-block;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
    /* Transición suave */
}

/* Aplicar animación al texto completo */
#ojo-text {
    animation: scaleText 0.9s ease-in-out;
}

/* Animación del pestañeo en la primera "O" */
.letra:nth-child(1) {
    animation: wink 0.5s ease-in-out 0.9s;
    /* El pestañeo empieza después del agrandamiento */
}

@keyframes drop {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(80px);
    }

    100% {
        transform: translateY(0px);
    }
}

.lava-lamp {
    position: relative;
    margin-top: 50px;
    width: 50px;
    height: 100px;
    background: #00022f;
    border-radius: 25px;
    overflow: hidden;
}

.bubble {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: #0241fe;
    border-radius: 50%;
    left: 15px;
    animation: drop 5s ease-in-out infinite;
}

.bubble1 {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: #f2fe02;

    border-radius: 50%;
    left: 1px;
    animation: drop 3s ease-in-out infinite;
}

.bubble2 {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: #fe0202;
    border-radius: 50%;
    left: 30px;
    animation: drop 4s ease-in-out infinite;
}



/* 
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.imagen {
    width: 80px;
    height: 80px;

}

button {
    font-family: "Ubuntu", sans-serif;

}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.buton_1 {
    background: none;
    border: none;
    color: rgb(255, 136, 0);
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;

}

.buton_2 {
    background: rgb(255, 136, 0);
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;

}  */