
<div class="body">

    <img class="imagen_logo1" src="../../../assets/img/ojoconesologo.png" alt="">

    <img class="imagen_logo" src="../../../assets/img/newondo.png" alt="">

    <div class="container_content">

        <button type="button" class="buttonDo">Denuncia Oficial</button>
        <button type="button" class="buttonDa">Denuncia Anonima</button>
        <button type="button" class="buttonVg">Violencia de genero <i class='bx bx-male-female bx-flashing'></i></button>
        <div class="logaout">
            <a class="login" routerLink="/loginUser">Iniciar sesion <i class='bx bx-right-arrow-alt'></i></a>
            <a class="register" routerLink="/registerUser">Registrate <i class='bx bx-right-arrow-alt'></i></a>
        </div>
        <a href="">¿Como hacer una denuncia? <i class='bx bx-help-circle'></i></a>

    </div>
</div>
