<div class="container_home">
    <div class="header">
        <div class="titulo">
            <h1><span>!Ojo¡ </span>con Eso</h1>
        </div>
        <div class="logo">
            <img class="imagen_logo" src="../../../assets/img/chrome_G2yN8PjkxL-removebg-preview.png" alt="">
        </div>
    </div>
    <div class="body">

        <div class="container_content">
            <button type="button" class="buttonDo">Denuncia Oficial</button>
            <button type="button" class="buttonDa">Denuncia Anonima</button>
            <button type="button" class="buttonVg">Violencia de genero <i class='bx bx-female bx-flashing'></i></button>
            <div class="logaout">
                <a class="login" routerLink="/login">Iniciar sesion <i class='bx bx-right-arrow-alt'></i></a>
                <a class="register" routerLink="/registro">Registrate <i class='bx bx-right-arrow-alt'></i></a>
            </div>
            <a href="">¿Como hacer una denuncia? <i class='bx bx-help-circle'></i></a>

        </div>
    </div>
</div>
<!-- Modal con imagen -->
<div *ngIf="showModal" class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span id="ojo-text">
            !<span class="letra">O</span>J<span class="letra">O</span>¡
        </span>
        <!-- <div class="lava-lamp">
            <div class="bubble"></div>
            <div class="bubble1"></div>
            <div class="bubble2"></div>
        </div> -->
    </div>
</div>

