.container_home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    background: #00022f;
    width: 100%;
    height: 80px;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -1px 8px 20px 9px #ccc;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 45px;

}

span {
    color: #f3cc3f;
    font-weight: 900;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.imagen_logo {
    width: 380px;
}

.imagen_logo1 {
    position: absolute;
    width: 70px;
    margin-top: 45px;
}

.container_content {
    width: 90%;
    height: 380px;
    background: #00022f;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

button {
    background: none;
    border: none;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    width: 90%;

}


.buttonVg {
    background: #f3cc3f;
    color: #00022f;
}

.buttonDo {
    margin-top: 20px;
    background: #fff;
    color: #00022f;
}

.buttonDa {
    border: 2px solid #fff;
    color: #fff;
}

.logaout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-bottom: 20px;
}
a{
    font-family: system-ui;
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: 5px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

/* 
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.imagen {
    width: 80px;
    height: 80px;

}

button {
    font-family: "Ubuntu", sans-serif;

}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.buton_1 {
    background: none;
    border: none;
    color: rgb(255, 136, 0);
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;

}

.buton_2 {
    background: rgb(255, 136, 0);
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;

}  */