<header [ngClass]="{'header-largo': tipoDenuncia}">
    <i class='bx bx-chevron-left' (click)="goBack()"></i>
    <h1>{{ title }}</h1>
    <!-- Mostrar el tipo de denuncia debajo del título si está disponible -->
    <h3 *ngIf="tipoDenuncia" class="subtitulo-denuncia">{{ tipoDenuncia }}</h3>

    <!-- Botón de habla solo si showSpeakButton es true -->
    <div class="menu">
        <div class="loader circule">
            <svg viewBox="0 0 80 80">
                <circle r="32" cy="40" cx="40" id="test"></circle>
            </svg>
        </div>

        <div class="loader triangle" id="theme-button" (click)="toggleTheme()">
            <svg viewBox="0 0 86 80">
                <polygon points="43 8 79 72 7 72"></polygon>
            </svg>
        </div>

        <div *ngIf="showSpeakButton" class="loader cuadro"  >
            <i class='bx bx-user-voice bx-tada' [class.bx-tada]="isSpeaking"(click)="speak()"></i>
          </div>
    </div>

</header>